<%- include("header") -%>
<h2> this is ht fklo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, rerum!</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti explicabo eligendi, autem ab quisquam consequatur dolorem quam ducimus adipisci harum aspernatur modi aperiam quasi nam ratione recusandae architecto magnam repellat.</p>
<%- include("footer") -%>
